# Default repos
deb {{ url.debian }} jessie main

# jessie-updates, previously known as 'volatile'
deb {{ url.debian }} jessie-updates main

# debian security updates
deb {{ url.debian_security }} jessie/updates main
